video {
  transform: rotateY(180deg);
  height: 500px;
}

#crop {
  height: 500px;
  width: 500px;
  border-radius: 16px;
  padding-left: -250px;
}

body {
  text-align: center;
}

#title {
  border: 2px solid black;
}

#topbar {
  border: 2px solid black;
  display: grid;
  font-size: .75rem;
  gap: .5em;
  grid-auto-flow: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  transition: opacity .125s;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.row {
  display: flex;
}

#camera {
  border: 2px solid black;
}

#typeText {
  border: 2px solid black;
}

#progress {
  border: 2px solid black;
}